In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

loaded_arr = np.loadtxt("/content/drive/MyDrive/GPCE/dynamic_features_raw.txt")
dynamic_features = loaded_arr.reshape(500,412,6)

def array_to_df(np_array):
  date_rng = pd.date_range(start='2020-02-28', end='2021-04-14', freq='D')
  df = pd.DataFrame(np_array,columns=['Death', 'Case','Testing', 'Spread', 'Distancing', 'Transmissible'])
  df = df.set_index(date_rng)
  return df

Mounted at /content/drive

Convert to Pandas dataframe

In [3]:
# convert the first county (los angeles) to pandas data frame:

df = array_to_df(dynamic_features[0] )
df

            Death   Case   Testing    Spread  Distancing  Transmissible
2020-02-28    0.0    0.0  0.000000  0.000000       1.000       0.000000
2020-02-29    0.0    0.0  0.000000  0.000000       1.000       0.000000
2020-03-01    0.0    0.0  0.000000  0.000000       1.000       0.000000
2020-03-02    0.0    0.0  0.000000  0.000000       1.000       0.000000
2020-03-03    0.0    0.0  0.000000  0.000000       1.000       0.000000
...           ...    ...       ...       ...         ...            ...
2021-04-10   36.0  752.0  0.468799  0.026328       1.000       0.456704
2021-04-11   26.0  497.0  0.469694  0.026129       1.000       0.436832
2021-04-12   10.0  423.0  0.469982  0.026710       0.825       0.446045
2021-04-13    2.0  408.0  0.471619  0.027602       0.825       0.446228
2021-04-14   48.0  337.0  0.466064  0.026635       0.825       0.426473

[412 rows x 6 columns]